<h1>My Discounts</h1>

<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <p>ID: <%= link_to "#{discount.id}", "/merchant/discounts/#{discount.id}" %></p>
    <p>Name: <%= discount.name %></p>
    <p>Percent Off: <%= discount.percent_off %>%</p>
    <p>Minimum Quantity: <%= discount.min_quantity %></p>
    <br>
  </section>
<% end %>
