<h1>New Discount</h1>

<%= form_tag "/merchant/#{current_user.merchant.id}/discounts", method: :post do %>

  <h1>Items: </h1>
  <% current_user.merchant.items.each do |item| %>
    <section id="item-<%= item.id %>">
      <%= label_tag item.name %>
      <%= check_box_tag("discount_items[]", "#{item.id}") %>
    </section>
  <% end %>

  <%= label_tag :name %>
  <%= text_field_tag :name %><br>

  <%= label_tag :percent_off %>
  <%= text_field_tag :percent_off %><br>

  <%= label_tag :min_quantity %>
  <%= text_field_tag :min_quantity %><br>

  <%= submit_tag 'Create Discount' %>
<% end %>
